* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: url('D.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    background: rgb(255, 255, 255,0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 15px 30px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 50px;
  }
  
  .nav-links a {
    text-decoration:none;
    color: white;
    font-size: 24px;
    transition: 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #00f7ff;
  }
  